<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="deployed-oscript-template.ZPM">
    <Module>
      <Name>deployed-oscript-template</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.deployed.PKG" Deploy="true"/>
      <Resource Name="dc.withsource.PKG"/>
    </Module>
  </Document>
</Export>